<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Secure Note Entry</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<nav class="navbar navbar-dark navbar-expand-md bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Secure Storage Services</a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
            <span class="visually-hidden">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-3 secure-sandbox">
    <iframe src="{{.Site}}" scrolling="no" id="noteFrame"></iframe>
</div>
<div class="container my-4">
    <div class="row">
        <div class="col-6 form-group d-flex">
            <input type="text" class="form-control" placeholder="Note Content" id="note">
            <button id="addbtn" class="btn btn-success inline">Add</button>
        </div>
        <div class="col-6 form-group d-flex">
            <button id="deletebtn" class="btn btn-danger inline">Delete</button>
        </div>
    </div>
</div>
<script nonce="{{.CSPNonce}}">
    (async () => {
        await new Promise((resolve) => {
            window.addEventListener('load', resolve);
        });
    })();

    userNote = {}

    const set = (function assign(b,c,d,a){if(b.includes(a)){return assign(b.substring(b.indexOf(a)+1),c,d[b.split(a)[0]])}return d[b]=c});

    window.addEventListener('message', (e) => {
        if (e.data && e.origin == "{{ .Site }}") {
            for (let attr in e.data) {
                set(attr, e.data[attr], window, ".")
            }
            console.log(`Current note: ${JSON.stringify(userNote)}`)
        }
    })

    document.getElementById("addbtn").addEventListener("click", () => {
        fetch("/note/add", {
            method: "POST",
            headers: {
                "content-type": "application/json"
            },
            body: JSON.stringify({
                "content": document.getElementById("note").value
            })
        }).then(_ => document.location = "/")
    })

    document.getElementById("deletebtn").addEventListener("click", () => {
        fetch("/note/delete",
            {
                method: "DELETE"
            }).then(_ => document.location = "/");
    });

    document.getElementById("noteFrame").addEventListener("load", async () => {
        let result = await (await fetch("/note")).text()
        document.getElementById("noteFrame").contentWindow.postMessage({"type": "note", "content": result}, "*")
    });

</script>
</body>
</html>
