<!DOCTYPE html>
<html lang="en">

<head>
	<title>Coming Soon 6</title>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Security-Policy"
		content="trusted-types 'none'; object-src 'none';script-src 'self' 'unsafe-inline'; img-src 'self'; base-uri 'self';">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/static/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/countdowntime/flipclock.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/github.css">

	<!--===============================================================================================-->
	<style>
		.clippy {
			margin-top: -3px;
			position: relative;
			top: 3px;
		}

		pre+button {
			position: absolute;
			top: 0;
			right: 0;
		}
	</style>
</head>

<body>


	<div class="bg-img1 size1 overlay1 p-t-24" style="background-image: url('/static/images/bg01.jpg');">
		<div class="flex-w flex-sb-m p-l-80 p-r-74 p-b-175 respon5">
			<div class="wrappic1 m-r-30 m-t-10 m-b-10">
				<a href="#"><img src="/static/images/icons/logo.png" alt="LOGO"></a>
			</div>

			<div class="flex-w m-t-10 m-b-10">
				<a href="#" class="size3 flex-c-m how-social trans-04 m-r-6">
					<i class="fa fa-facebook"></i>
				</a>

				<a href="#" class="size3 flex-c-m how-social trans-04 m-r-6">
					<i class="fa fa-twitter"></i>
				</a>

				<a href="#" class="size3 flex-c-m how-social trans-04 m-r-6">
					<i class="fa fa-youtube-play"></i>
				</a>
			</div>
		</div>
		<div class="flex-w flex-sa p-r-15 respon1">

			<div class="bg0 wsize1 bor1 p-l-45 p-r-45 p-t-50 p-b-18  p-lr-15-sm">
				<h3 class="l1-txt3 txt-center p-b-43">
					Generate your own quick start-up template
				</h3>

				<form class="w-full validate-form" id="text-form">

					<div class="wrap-input100 validate-input m-b-10" data-validate="Username is required">
						<input class="input100 placeholder0 s1-txt1" type="text" name="username" id="username"
							placeholder="Username">
						<span class="focus-input100"></span>
					</div>
					<div>
						<button class="flex-c-m size2 s1-txt2 how-btn1 trans-04" id="submitBtn">
							Show me!
						</button>
					</div>
					<br>
					<div>
						<button class="flex-c-m size2 s1-txt2 how-btn1 trans-04" id="reportBtn">
							Report to Admin
						</button>
					</div>
					<br>
				</form>
				<br></br>

			</div>
		</div>
		<div class="flex-w flex-sa p-r-15 respon1" id="output" hidden=true>
			<div class="p-t-34 p-b-60 respon3">
				<pre class="bg0 p-l-45 p-r-45 p-t-50 p-b-18">
					<button  class="btn1" scrollWidth="60px" data-clipboard-target="#express" data-clipboard-action="copy">
						<img class="clippy" width="13" src="/static/clippy.svg" alt="Copy to clipboard">
					</button>
					<code id="express" class="javascript"></code>
                </pre>
			</div>
		</div>
	</div>

	<script>
		(async () => {
			await new Promise((resolve) => {
				window.addEventListener('load', resolve);
			});

		})();

		document.getElementById('reportBtn').addEventListener('click', async (e) => { 
			e.preventDefault();
			location.href = "/report";
		})

		document.getElementById('submitBtn').addEventListener('click', async (e) => {
			e.preventDefault();
			const username = document.getElementById('username').value;
			const res = await (await fetch('/api/template', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded'
				},
				body: `username=${username}`
			})).text();

			if (res.error) {
				return;
			}
			document.getElementById('output').hidden = false;
			document.getElementById('express').textContent = res;
		});

	</script>
	<script src="/static/js/highlight.pack.js"></script>
	<script src="/static/js/clipboard.min.js"></script>
	<script>
		hljs.highlightAll();
		new ClipboardJS('.btn1');
	</script>
</body>


</html>